.custom-card {
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #e3e6f0;
    transition: all 0.3s ease-in-out;
}
.custom-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card-title {
    font-size: 1rem;
    color: #5a5c69;
}
.card-number {
    font-size: 2rem;
    font-weight: bold;
    color: #343a40;
}
.icon-container {
    background-color: #e3f2fd;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fas {
    color: #007bff;
}
.pie-chart {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}





/* Remove outline on focus */
*:focus {
    outline: none;
  }
  
  .form-group {
    position: relative;
    margin-bottom: 20px;
    font-family: sans-serif;
  }
  
  .label-text {
    position: absolute;
    top: -7px;  /* Adjust vertical alignment */
    left: 15px;
    font-size: 12px;
    background-color: #fff;
    padding: 0 5px;
    z-index: 1;
    pointer-events: none;
  }
  




  /* Targeting all select elements with the class input-field */
.input-field {
    font-size: 12px; /* Adjust font size */
    color: #333; /* Change text color */
    padding: 7px 25px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
  }
  
  .input-field option {
    font-size: 16px; /* Font size of the options in the dropdown */
    color: #333; /* Text color of the options */
  }
  
  /* Change color on focus */
  .input-field:focus {
    border-color: blue;
    color: #000; /* Change font color on focus if desired */
  }
  
  