.custom-card {
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #e3e6f0;
    transition: all 0.3s ease-in-out;
}
.custom-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card-title {
    font-size: 1rem;
    color: #5a5c69;
}
.card-number {
    font-size: 2rem;
    font-weight: bold;
    color: #343a40;
}
.icon-container {
    background-color: #e3f2fd;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fas {
    color: #007bff;
}
.pie-chart {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}